#brian {
           font-family: Arial, sans-serif;
           background-color:white;
           margin: 0;
           padding: 0;
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
       }

       .carousel-container {
           width: 100%;
           max-width: 100%;
           margin: 0 auto;
           text-align: center;
       }

       .carousel-header {
           margin-bottom: 20px;
           font-size: 24px;
           font-weight: bold;
       }

       .carousel {
           position: relative;
           display: flex;
           align-items: center;
           overflow: hidden;
       }

       .carousel-images {
           display: flex;
           transition: transform 0.5s ease-in-out;
       }

       .carousel-image {
           flex: 0 0 25%;
           padding: 5px;
           box-sizing: border-box;
           height:20vh;
       }

       .carousel-image img {
           width: 100%;
           border-radius: 10px;
           transition: transform 0.3s;
       }

       .carousel-image img:hover {
           transform: scale(1.05);
       }

       .carousel-arrow {
           background-color:white
           border: none;
           font-size: 24px;
           padding: 10px;
           cursor: pointer;
           position: absolute;
           top: 50%;
           transform: translateY(-50%);
           z-index: 2;
           border-radius: 50%;
           box-shadow: 0 2px 5px rgba(248, 246, 246, 0.2);
       }

       .left-arrow {
           left: 10px;
       }

       .right-arrow {
           right: 10px;
       }

       .carousel-arrow:hover {
           background-color: white;
       }
