#derick {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}


.header {
  background-color: white;
  height: 90vh;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.dericklogo {
  display: flex;
  align-items: center;
}

.dericklogo h1 {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.dericklogo img {

  margin-top: 15px;
  height: 70px;
}

.nav-links {
  color: black;
  display: flex;
  gap: 40px;
}

#herolinks {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.4s;
}


.btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn-secondary {
  text-decoration: none;
  background-color: #E1CACA;
  color: black;
}

.btn-primary {
  text-decoration: none;
  background-color: #231B50;
  color: white;
}




