#derick {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.hero {
  background-color: white;
  height: 90vh;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.dericklogo {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color:black;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #E1CACA;
        cursor: pointer;
        width: 150px;
        height: 50px;
        color:black;
}

.btn-primary {
  background-color: #231B50;
        color: white;
        cursor: pointer;
        width: 150px;
        height: 50px;
}
.btn-hero{
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 170px;
  height: 50px;
  border-radius: 50px;
}
.derickHeader-content {
  background-color: #231B50;
  display: flex;
  height: calc(90vh - 80px);
}

.derickheader-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.derickheader-text h1 {
  font-size: 97px;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 450;

}

.derickheader-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.derickHeader-image {
  flex: 1;
  background-image: url('/CAMER_TECH-webEnd/img/hht-removebg-preview\ \(1\).png');
  background-size: cover;
  background-position: center;

}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 768px) {
  /* Responsive styles */
  .nav-links, .nav-buttons {
    display: none;
}

.hamburger {
    display: block;
}
.nav-links.active, .nav-buttons.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #231B50;
  padding: 20px;
}
.header-content {
  flex-direction: column;
}
}
