
#elondo{
      font-family: Arial, sans-serif;
  }

  .main-div {
      text-align: center;
      margin: 20px;
  }

  .main-div h1 {
      font-weight: bold;
  }

  .content-div {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .info-container {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 20px 0;
      align-items: center;
      background-color: #c7cbc0;
      padding: 20px;
      border-radius: 8px;
  }

  .info-text {
      width: 45%;
      text-align: left;
  }

  .image-icon {
      width: 45%;
      display: flex;
      justify-content: flex-end;
  }

  .image-icon img {
      max-width: 100%;
      height: 100px;
  }

  button {
      background-color: transparent;
      border: none;
      color: black;
      cursor: pointer;
      font-weight: bold;
  }

  .row {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 20px 0;
  }

  .left, .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #c7cbc0;
      padding: 20px;
      border-radius: 8px;
      width: 48%;
      margin: 10px;
  }

