#fangmbeng {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    padding-bottom: 4rem;
    font:optional ;
}
.footer{
    max-width: 1170px;
    width: 90%;
    height: 30%;
    display: flex;
    padding: 70px 0px;
    flex-wrap: wrap;


}
ul{
    list-style: none;
    margin-left: 60px;
    align-items: center;
    color: black;
    font-size: small;
    font-weight: bold;
}
ul li{
    padding-top: 10px;
}

h4{
    padding-left:60px ;
    color: rgb(180, 178, 178);
    margin-left: 50px;
}
.head{
   font-weight:bold ;
    display: flex;
    justify-content: center;
    margin-right: px;
}
.footer-form{
    margin-bottom:2rem;
}
#footer-email{wh
    width: 250px;
    height:20px;
   border-radius:4px ;
   border:none;
   background-color:#f0d6d6 ;
   outline: none;
   padding: 5px;
}
#footer-email-btn{
   height: 25px;
   width: 50px;
   cursor: pointer;
   background-color: green;
   border: none;
   border-radius: 4px;
   color: white;
   font-size: small;
   font-weight: bold;
   transition: opacity;

}
#footer-email-btn:hover{
    opacity: 0.8;
}