.head {
justify-content: center;
}
.faq-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.faq-item {
  border: 3px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-question {
  display: block;
  align-item: center;
  padding: 25px;
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.faq-question .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-20%);
  font-size: 25px;
}

.faq-question:hover {
  background-color: #e9e9e9;
}

.faq-answer {
  padding: 15px;
  display: none;
}






