#nestorngwa1{
    display: block;
    align-items: center;
    background-color: #fff;
    height: 50vh;
    margin-left: 20%;
}
.neslogotext{
    margin-top: 30px;
}
.neslogoicons{
    height: 30vh;
    margin-top: 30px;
    width: 100%;
    display: flex;
    margin-left: -190px;
}
#nestorngwa2{
    display: flexbox;
    flex-flow: row;
    gap: 10px; /* Space between boxes */
    max-width: 640px; /* Adjust width to fit the layout */
}
}
.nesservices{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    max-width: 640px;
}
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
    S{
        height: 40px;
        font-size: 16px;
    }
}
.nesservicestext{
    align-self: center;
}
.S{
    flex: 1 1 calc(33.333% - 20px); /* Three boxes per row with spacing */
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #0c0b0b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Includes padding and border in the width */
    border-radius: 15px;
   text-align: center;
}
