#nestor{
    background-color: #e9e6ece3;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sub-div {
    background-color: #c7cbc0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin-bottom: 20px;
}

.sub-div h1 {
    font-weight: bold;
}

.highlight {
    color: red;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.image-box {
    width: 25%;
    height: 130px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    justify: space;
}

.see-more {
    display: right;
    margin: 20px auto;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.categories button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
