<div class="min-h-screen flex flex-col lg:flex-row">
  @if (isSidebarOpen) {
    <aside class="bg-primary-dark text-white  flex-col p-4 w-64 lg:w-64 lg:block fixed lg:relative z-10">
      <div class="text-center text-2xl font-bold mb-8">BloodManage</div>
      <nav class="flex flex-col space-y-4">
        <a routerLink="/dashboard/stats" class="flex items-center space-x-3 hover:bg-primary p-3 rounded">
          <span>Dashboard</span>
        </a>
        <a href="#" class="flex items-center space-x-3 hover:bg-primary p-3 rounded">
          <span>Inventory</span>
        </a>
        <a href="#" class="flex items-center space-x-3 hover:bg-primary p-3 rounded">
          <span>Donors</span>
        </a>
      </nav>
    </aside>
  }
  <div class="flex-1 bg-secondary-light">
    <header class="bg-primary text-white p-4 flex justify-between items-center lg:flex-row flex-wrap">
      <div class="flex items-center space-x-3">
        <button class="lg:hidden focus:outline-none" (click)="toggleSidebar()">
          <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
          </svg>
        </button>
        <input type="text" placeholder="Search..."
               class="border border-secondary-light rounded-lg p-2 flex-1 lg:flex-none">
      </div>
      <div class="flex items-center space-x-4 mt-4 lg:mt-0">
        <button class="bg-success p-2 rounded-lg">+ New Drive</button>
        <button class="relative">
          <span class="bg-danger text-white rounded-full w-4 h-4 text-xs absolute -top-1 -right-1">3</span>
        </button>
        <div class="relative">
          <button class="flex items-center space-x-2">
            <img src="doctor.jpg" class="w-8 h-8 rounded-full">
            <span>User Name</span>
          </button>
          <div
            class="absolute right-0 bg-white text-primary-dark shadow-lg rounded-lg mt-2 p-2 w-48 hidden group-hover:block">
            <a href="#" class="block p-2 hover:bg-secondary-light rounded">Profile</a>
            <a href="#" class="block p-2 hover:bg-secondary-light rounded">Settings</a>
            <a href="#" class="block p-2 hover:bg-secondary-light rounded">Logout</a>
          </div>
        </div>
      </div>
    </header>

    <main class="p-6">
      <router-outlet></router-outlet>
    </main>
    <footer class="bg-primary-dark text-secondary-light text-center py-4">
      <p>© 2024 BloodManage. All rights reserved.</p>
    </footer>
  </div>
</div>
