<header class="w-full bg-fuchsia-600 text-black shadow flex justify-center items-center">
  This is the header in the header component.

  <div class="bg-fuchsia-950 m-3 cursor-pointer hover:border-b-fuchsia-600 underline underline-offset-2"
       routerLink="/sign-in">sign-in
    Click me
  </div>
  <div class="bg-fuchsia-950 m-3 cursor-pointer hover:border-b-fuchsia-600 underline underline-offset-2"
       routerLink="/sign-up">sign-up
    Click me
  </div>
  <div routerLink="/dashboard" class="bg-green-300 w-fit m-3 p-4 border rounded"> Go to the dashboard</div>
</header>
