<header>
  <section id="derick">
    <section class="header">
      <nav>
        <div class="dericklogo">
          <img src="camer_tech_logo-removebg-preview.png" alt="Camer Tech Logo">
          <h1>CAMER TECH</h1>
        </div>
        <div class="nav-links">
          <a id="herolinks" href="#">Home</a>
          <div class="dropdown">
            <a href="#" class="dropbtn" id="hero links">Explore▼</a>
            <div class="dropdown-content">
              <a href=".././pages/./chatbot/index.html" id="herolinks">Chat AI</a>
              <a routerLink='/dashboard'>Dashboard</a>
              <a routerLink="/contact" id="herolinks">Contact us</a>
              <a routerLink="/greenComputing" id="herolinks">Green Computing</a>
              <a routerLink="/about" id="herolinks">About</a>
            </div>
          </div>
          <a routerLink="/technician" class="cursor-pointer" id="herolinks">Find technician</a>

        </div>
        <div class="nav-buttons">
          <a routerLink="/signIn" class="btn btn-secondary">sign-in</a>
          <a routerLink="/signUp" class="btn btn-primary">Sign Up</a>
        </div>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
      <section class="hero">
        <div class="container">
          <h2>Your Tech Issues, Solved</h2>
          <p>Connect with expert IT technicians to resolve your technology challenges quickly and efficiently.</p>
          <div class="search-bar">
            <input type="text" placeholder="What tech service do you need?">
            <button>Search</button>
          </div>
        </div>
      </section>
    </section>
  </section>
</header>
